/* Online course */
$colors:(
    primary:#05264e,
    hero:#83cbff,
    button-discover:#e0e6f6,

);

@function color($color-name){
    @return map-get($colors,$color-name)
};
.bg-img-online-course{
    display: flex;
    height: 30vh;
    background: url(../imgs/page/online-courses/audience.jpeg) no-repeat center center;
    background-size: cover;
}

.bg-img-online-course h2, .bg-img-online-course p {
  z-index: 2;
  position: relative;
  color: white;
  padding-left: 25px;
}
.bg-img-online-course h2 {
  border-left: 10px solid #83cbff;
  padding-bottom: 8px;
  padding-top: 5px;
}

.bg-img-online-course p{
  border-left: 10px solid #83cbff;
}

.bg-img-online-course{
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background: color(primary); 
    }
}


/*Media Query */
@media (max-width: 992px) {
  .bg-img-online-course h2 {
    font-size: 36px !important;
    padding-bottom: 0px !important;
    padding-top: -10px !important;
 }
 .online-course-text {
  font-size: 16px !important;
  line-height: 16px !important
 }
}
@media (max-width: 768px) {
  .bg-img-online-course h2 {
    font-size: 36px !important;
    margin-bottom: 10px !important;
 }
  .online-course-text {
    font-size: 16px !important;
    line-height: 20px !important;
 }
}
@media (max-width: 653px) {
  .bg-img-online-course h2 {
    font-size: 36px !important;
    margin-bottom: 10px !important;
 }
  .online-course-text {
    font-size: 16px !important;
 }
}
@media (max-width: 580px) {
  .bg-img-online-course h2 {
    font-size: 36px !important;
 }
}
@media (max-width: 455px) {
  .bg-img-online-course h2 {
    font-size: 24px !important;
 }
  .online-course-text {
    font-size: 16px !important;
 }
}
@media (max-width: 400px) {
  .bg-img-online-course h2 {
    font-size: 24px !important;
    line-height: 23px !important;
 }

}
  /*Media Query End*/

/* Share Icon Start */
.share-icon-online-course-container{
  position: absolute;
}

.share-icon-online-course {
  font-size: 30px;
  color: #3c65f5;
}
.share-icon-online-course:hover {
  transform: translateY(-2px);
  color: #ffffff;
  background-color: #05264e;
  transition: 0.2s;
  border-radius: 4px;
}


@media screen and (max-width:1200px){
  .share-icon-online-course{
    margin-left: 35px !important;
    margin-top: -76px !important;

  }
  }
@media screen and (max-width:999px){
  .share-icon-online-course{
    margin-left: 14px !important;
    margin-top: -76px !important;

  }
  }

@media screen and (max-width:768px){
  .share-icon-online-course{
    margin-left: 32px !important;
    margin-top: -76px !important;

  }
  }
@media screen and (max-width:580px){
.share-icon-online-course{
  margin-left: 3px !important;
  margin-top: -80px !important;
}
}
  

/* Share Icon End */

.banner-hero1 {
    .block-banner1 {
        .online-course-form-find {
            background: #ffffff;
            width: 1100px;
            padding: 8px 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border: 1px solidcolor(button-discover);
            border-radius: 8px;
        }
    }
}

.banner-hero1 {
    .block-banner1 {
        .online-course-form-find form {
            width: 100%;
            display: flex;
        }
    }
}


.online-course-form-find form {
    .online-course-input-top-five {
        height: 50px;
        box-shadow: none;
        padding-left: 20px;
        font-size: 16px;
        width: 250%;
        border: none;
    }
}


.btn-online-course-search {
    background-color:#3AAB67;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 32%;
    height: auto;
    font-size: 16px;
    margin-left: 12px;
    padding: 8px;

    &:hover {
        transform: translateY(-2px);
        background-color:#3AAB67;
        transition: 0.2s;
    }
}

@media screen and (max-width: 600px) {
  .banner-hero1 .block-banner1 .online-course-form-find {
    margin: -9% !important;
 }
 .online-course-form-find form .online-course-input-top-five::placeholder {
 font-size:12px !important;

}
.btn-online-course-search:first-of-type {
  font-size: 15px;
}
}

@media screen and (max-width: 455px) {

  .banner-hero1 .block-banner1 .online-course-form-find {
    margin: -9% !important;
 }
 .online-course-form-find form .online-course-input-top-five::placeholder {
 font-size:10px;
max-width: 200px;
}

}

@media screen and (max-width: 1199px) {
    .block-banner1 {
        width: auto;
    }

    .banner-hero1 {
        .block-banner1 {
            .online-course-form-find {
                padding: 20px;
                width: 121%;
            }
            .online-course-form-find form {
                display: flex;
                flex-wrap: wrap;
            }

            .online-course-form-find form  .online-course-input-top-five {
                margin-left: 1px;
                margin-top: 15px !important;
            }
        }
    }
    .btn-online-course-search {
        background-color:#3AAB67;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        width: auto;
        height: auto;
        font-size: 16px;
        margin-left: 12px;
    
        &:hover {
            transform: translateY(-2px);
            background-color:#3AAB67;
            transition: 0.2s;
        }
        &:first-of-type {
            margin-top: 20px;
        }

        &:not(:first-of-type) {
            margin-top: 10px;
        }
    } 

}

/*hero secton end */

/* Online-course-Video Start */
.online-video-section-image-one {
    height: 150px;
    width: 180px;
    margin-left: 50px;
  }
  .online-video-section-image-two {
    height: 150px;
    margin-left: 10px;
    aspect-ratio: 0.77;
    object-fit: auto;
    object-position: center;
    width: 45%;
  }
  
  .online-video-section-image-three {
    height: 100px;
    width: 70px;
    position: absolute;
    margin-left: 14px;
    margin-top: -31px;
  }
  
  .online-video-section-image-four {
    height: 100px;
    width: 117px;
    position: absolute;
    margin-top: 86px;
    margin-left: 30px;
  }
  
  .online-video-section-image-five {
    width: 75px;
    aspect-ratio: 0.77;
    object-fit: auto;
    object-position: center;
    position: absolute;
    margin-top: 200px;
    margin-left: 30px;
  }
  .online-video-section-image-six{
    aspect-ratio: 0.77;
    object-fit: auto;
    object-position: center;
    width: 30%;
    max-width: 198px;
  }

/* Online-course-Video End */


/*Popular courses Start */

.swiperprevious-online-course {
    position: absolute;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    left: 5vw;
    margin-top: -31.5% !important;
  }
  
  .swipernext-online-course {
    position: absolute;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    right: 5vw;
    margin-top: -31.5% !important;
  }
  .author-image-online-course {
    aspect-ratio: 1;
    object-fit: cover;
    width: 35px;
    margin: auto 0;
    border-radius: 50%;
  }
  
  .article-description-online-course {
    color: var(--text-paragraph, #6c6e70);
    align-self: center;
    margin-top: 18px;
    font: 500 16px/25px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin: 0 10px;
    height: 125px;
    text-align: justify;
    overflow: hidden;
  }
  
  .author-name-online-course{
      color: var(--brand-brand-1, #05264e);
    font: 700 16px/125% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}
  
  @media (max-width: 450px) {
  
  .author-name-online-course {
    color: var(--brand-brand-1, #05264e);
    font: 700 18px/144% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  }
  .read-time-online-course {
    color: var(--text-Paragrap-2, #435579);
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 500 16px/156% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    text-align: right;
    margin-right: 10px;
  }
  
  @media screen and (max-width: 1200px) {
    .article-description-online-course {
      font: 500 13px/20px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
      height: 100px;
    }
    .author-name-online-course {
        color: var(--brand-brand-1, #05264e);
      font: 700 12px/125% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    }
    .read-time-online-course {
      font: 500 10px/135% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    }
  }
  @media screen and (max-width: 760px) {
  
    .article-description-online-course {
      font: 500 13px/17px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
      height: 120px;
    }
    .author-name-online-course {
        color: var(--brand-brand-1, #05264e);
      font: 700 14px/125% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    }
    .read-time-online-course {
      font: 500 12px/135% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    }
  }
  @media screen and (max-width: 450px) {
    .article-description-online-course{
      font: 500 11px/16px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    }
  
    .author-name-online-course {
        color: var(--brand-brand-1, #05264e);
      font: 700 12px/125% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    }
    .read-time-online-course {
      font: 500 10px/135% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    }
  }
  @media screen and (max-width: 1400px) {
    .swiperprevious-online-course {
      top: 76%;
      width: 50px;
      height: 50px;
      left: 30px;
    }
    .swipernext-online-course {
      top: 76%;
      width: 50px;
      height: 50px;
      right: 30px;
    }
    .author-image-online-course {
        width: 30px;
      }
  }
  @media screen and (max-width: 1290px) {
    .swiperprevious-online-course {
      top: 77%;
      width: 50px;
      height: 50px;
      left: 0px;
    }
    .swipernext-online-course {
      top: 77%;
      width: 50px;
      height: 50px;
      right: 0px;
    }
    .author-image-online-course {
        width: 30px;
      }
  }
  @media screen and (max-width: 1225px) {
    .swiperprevious-online-course {
      top: 72.72%;
      width: 40px;
      height: 40px;
      left: -5px;
    }
    .swipernext-online-course {
      top: 72.72%;
      width: 40px;
      height: 40px;
      right: -5px;
    }
    .article-title {
        font-size: 20px !important;
        height:77px !important;
      }
      .swiper-button-prev{
        top:14.17% !important;
    }
    .swiper-button-next{
        top: 14.17% !important;
    }
    .author-image-online-course {
        width: 30px;
      }
  }
  @media screen and (max-width: 1200px) {
    .swiperprevious-online-course {
      top: 81%;
      width: 40px;
      height: 40px;
      left: 8px;
    }
    .swipernext-online-course {
      top: 81.3%;
      width: 40px;
      height: 40px;
      right: 8px;
    }
    .article-title {
        font-size: 20px !important;
        height:77px !important;
      }
      .author-image-online-course {
        width: 30px;
      }
      .swiper-button-prev{
        top:3.17% !important;
    }
    .swiper-button-next{
        top: 3.17% !important;
    }
    .author-image-online-course {
        width: 30px;
      }
  }
  @media screen and (max-width: 992px) {
    .swiperprevious-online-course {
      top: 76.7%;
      width: 40px;
      height: 40px;
      left: 4px;
    }
    .swipernext-online-course {
      top: 76.7%;
      width: 40px;
      height: 40px;
      right: 4px;
    }
    .author-image-online-course {
        width: 30px;
      }
    .swiper-button-prev{
        top:4.17% !important;
    }
    .swiper-button-next{
        top: 4.17% !important;
    }
  }
  @media screen and (max-width: 768px) {
    .swiperprevious-online-course {
      top: 77.17%;
      width: 40px;
      height: 40px;
      left: 4px;
    }
    .swipernext-online-course {
      top: 77.17%;
      width: 40px;
      height: 40px;
      right: 4px;
    }
    .author-image-online-course {
        width: 30px;
      }
    // .swiper-button-prev{
    //     top:2.17% !important;
    // }
    // .swiper-button-next{
    //     top: 2.17% !important;
    // }
  }
  @media screen and (max-width: 576px) {
    .swiperprevious-online-course {
      top: 75.55%;
      width: 30px;
      height: 30px;
      left: -4px;
    }
    .swipernext-online-course {
      top: 75.55%;
      width: 30px;
      height: 30px;
      right: -4px;
    }
    .author-image-online-course {
        width: 30px;
      }
    .swiper-button-prev{
        top:4.17% !important;
    }
    .swiper-button-next{
        top: 4.17% !important;
    }
  }
  @media screen and (max-width: 450px) {
    .swiperprevious-online-course {
      top: 77%;
      width: 30px;
      height: 30px;
      left: -4px;
    }
    .swipernext-online-course {
      top: 77%;
      width: 30px;
      height: 30px;
      right: -4px;
    }
    .swiper-button-prev{
        top:4.17% !important;
    }
    .swiper-button-next{
        top: 4.17% !important;
    }
    .author-image-online-course {
        width: 30px;
      }

  }
  @media screen and (max-width: 400px) {
    .swiperprevious-online-course {
      top: 78%;
      width: 30px;
      height: 30px;
      left: -4px;
    }
    .swipernext-online-course {
      top: 78%;
      width: 30px;
      height: 30px;
      right: -4px;
    }
    .author-image-online-course {
        width: 20px;
      }
    .swiper-button-prev{
        top:4.17% !important;
    }
    .swiper-button-next{
        top: 4.17% !important;
    }
  }
  .background-random-online-course {
    position: relative;
    overflow: hidden;
  }
  
  .background-random-online-course::before,
  .background-random-online-course::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 1500px;
    background: #f2f6fd;
    transform-origin: top left;
    z-index: -1;
  }
  
  .background-random-online-course::before {
    transform: rotate(-8deg);
    top: 1500px;
    left: -300px;
    border-radius: 12px;
  }
  
  .background-random-online-course::after {
    transform: rotate(8deg);
    top: 1800px;
    right: -300px;
    border-radius: 25px;
  }
  
  
  .author-image {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }
  .card-content {
    border-radius: 16px;
    border: 1px solid rgb(224, 230, 246);
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 13px 12px;
    height: 100%;
  }
  
  .featured-image {
    aspect-ratio: 1.85;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
  
  .article-category {
    border-radius: 5px;
    background-color: var(--border-border-2, #e0e6f6);
    align-self: start;
    margin-top: 20px;
    color: var(--brand-brand-2, #3c65f5);
    white-space: nowrap;
    padding: 0 10px;
    font: 500 16px/156% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .article-title {
    color: var(--brand-brand-1, #05264e);
    align-self: start;
    margin: 22px 0 0 10px;
    font: 700 20px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    height: 60px;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .article-description {
    color: var(--text-paragraph, #6c6e70);
    align-self: center;
    margin-top: 18px;
    font: 500 16px/25px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin: 0 10px;
    text-align: justify;
    height: 100px;
    overflow: hidden;
  }
  
  .article-meta {
    display: flex;
    margin-top: 25px;
    width: 100%;
    gap: 20px;
  }
  
  .author-info {
    display: flex;
    gap: 9px;
  }
  
  .author-image {
    aspect-ratio: 1;
    object-fit: cover;
    width: 35px;
    margin: auto 0;
    border-radius: 50%;
  }
  
  .author-details {
    display: flex;
    flex-direction: column;
  }
  
  .author-name {
    color: var(--brand-brand-1, #05264e);
    font: 700 18px/144% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: -23px;
  }
  
  
  .read-time {
    color: var(--text-Paragrap-2, #435579);
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 500 16px/156% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    text-align: right;
    margin-right: 10px;
  }
  

  .image-text-online-course {
    position: absolute;
    background-color: #b4c0e0;
    border: none;
    border-radius: 6px;
    height: auto;
    font-size: 16px;
    padding: 0px 5px 0px 8px;
    margin-top: -8px;
    margin-left: 11px;
    color: #3c65f5;
  }
  
  .image-text-online-course_next {
    position: absolute;
    background-color: #B4C0E0;
    border: none;
    border-radius: 6px;
    height: auto;
    font-size: 16px;
    padding: 0px 5px 0px 8px;
    margin-top: -8px;
    margin-left: 112px;
    color: #3C65F5;
  }
  .image-text-online-course_third {
    position: absolute;
    background-color: #B4C0E0;
    border: none;
    border-radius: 6px;
    height: auto;
    font-size: 16px;
    padding: 0px 5px 0px 8px;
    margin-top: -7px;
    margin-left: 180px;
    color: #3C65F5;
  }
  @media (max-width: 991px) {
    .card-content {
      max-width: 100%;
    }
    .featured-image {
      max-width: 100%;
    }
    .article-title {
      font-size: 20px !important;
      height:77px !important;
    }
    .article-category {
      white-space: initial;
    }
    .article-description {
      max-width: 100%;
    }
    .article-meta {
      max-width: 100%;
      flex-wrap: wrap;
    }
    .image-text-online-course{
      font-size: 16px !important;
    }
    .image-text-online-course_next{
      font-size: 16px !important;
    }
    .image-text-online-course_third{
      font-size: 16px !important;
    }
  }
  @media (max-width: 768px) {
    .card-content {
      padding: 10px;
    }
    .card-list {
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    }
    .featured-image {
      max-width: 100%;
    }
    .article-title {
      font-size: 20px !important;
      height:77px !important;
    }
    .article-category {
      white-space: initial;
    }
    .article-description {
      max-width: 100%;
    }
    .article-meta {
      max-width: 100%;
      flex-wrap: wrap;
    }
    .image-text-online-course{
      font-size: 16px !important;
    }
    .image-text-online-course_next{
      font-size: 16px !important;
    }
    .image-text-online-course_third{
      font-size: 16px !important;
      margin-top: 24px !important;
      margin-left: 123px !important;
    
    }
  }
  @media (max-width: 680px) {

    .image-text-online-course{
      font-size: 16px !important;
    }
    .image-text-online-course_next{
      font-size: 16px !important;
    }
    .image-text-online-course_third{
      font-size: 16px !important;
    }
  }
  /* popular courses end */
